<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Colors</span>
</div>
<div class="config-option-format">
	<pv-color-picker id="textColor" ng-model="config.textColor" config="config"  colorkeyword="Axes Text">
</pv-color-picker></div>	
<div class="config-option-format">
	<pv-color-picker id="gridColor" ng-model="config.gridColor" config="config"  colorkeyword="Grid">
</pv-color-picker></div>	
<div class="config-option-format">
<pv-color-picker id="backgroundColor" ng-model="config.backgroundColor" config="config" colorkeyword="Background">
</pv-color-picker></div>	
<div class="config-option-format">
<pv-color-picker id="plotAreaFillColor" ng-model="config.plotAreaFillColor" config="config" colorkeyword="Plot Area">
</pv-color-picker></div>
<div class="config-option-format">
<pv-color-picker id="axesColor" ng-model="config.axesColor" config="config" colorkeyword="Axes">
</pv-color-picker></div>